@use "../../styles/vars" as v;

.carte {
  &__bloc {
    width: 345px;
    height: 345px;
    background: linear-gradient(
      180deg,
      rgba(255, 96, 96, 1) 0%,
      rgba(129, 49, 49, 1) 100%
    );
    border-radius: 10px;
    position: relative;
    &-title {
      position: absolute;
      color: v.$kasa_color_footer;
      bottom: 0;
      margin-left: 1rem;
      font-size: 18px;
      font-weight: normal;
    }
  }
}
