@use "../../styles/vars" as v;

.page404 {
    color: v.$kasa_color;
    width: 100%;
    margin: 0 auto;
    height: 70vh;
    &__bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        &-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 18rem;
        }
        &-oups {
            text-align: center;
            font-size: 36px;
        }
    }
    &__goback {
        width: 100%;
        bottom: 25%;
        left: 0;
        text-align: center;
        color: v.$kasa_color;
        display: block;
        margin-top: 3rem;
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .page404 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__bloc-title {
            font-size: calc(18rem / 1.5);
        }
        &__bloc-oups {
            font-size: calc(36px / 1.5);
        }
    }
}

@media screen and (max-width: 400px) {
    .page404 {
        &__bloc-title {
            font-size: calc(18rem / 2);
        }
        &__bloc-oups {
            font-size: calc(36px / 2);
        }
    }
}
