@use "../../styles/vars" as v;

.modal {
    &__para {
        width: 100%;
        margin-bottom: 2rem;
        &__bloc-title {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            background-color: v.$kasa_color;
            padding: 0 1rem;
            border-radius: 5px;
            margin: 0;
            &__title {
                color: v.$kasa_color_footer;
                font-size: 1.5rem;
                font-weight: normal;
            }
            // btn chevron
            &__bloc-icon {
                &__btn {
                    padding: 1rem;
                    border: none;
                    background-color: v.$kasa_color;
                }
                &__icon {
                    &.show {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        &__bloc-modal {
            background-color: v.$kasa_bgColor_modal;
            border: none;
            width: 100%;
            padding: 2rem;
            border-radius: 0 0 5px 5px;
            display: none;
            &.active {
                display: block;
            }
            &__p {
                color: v.$kasa_color;
                font-size: 18px;
            }
            &__ul {
                color: v.$kasa_color;
                list-style: none;
                padding: 0;
                margin: 0;
                &__li {
                    font-size: 18px;
                    line-height: 1.5;
                }
            }
        }
    }
}
@media screen and (max-width: 390px) {
    .modal {
        &__para {
            &__bloc-title {
                &__title {
                    font-size: 14px;
                    margin: 0;
                }
                // btn chevron
                &__bloc-icon {
                    &__btn {
                        padding: 0.5rem;
                    }
                    &__icon {
                        width: 9px;
                        height: 15px;
                    }
                }
            }
            &__bloc-modal {
                &__p {
                    font-size: 12px;
                }
                &__ul {
                    &__li {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
