@use "../../styles/vars" as v;
.modal {
  &__para {
    width: 100%;
    margin-top: 2rem;
    &__bloc-title {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      background-color: v.$kasa_color;
      padding: 0 1rem;
      border-radius: 5px;
      &_title {
        color: v.$kasa_color_footer;
        font-size: 1.5rem;
        font-weight: normal;
      }
      // btn chevron
      &_bloc-icon {
        padding: 1rem;
        border: none;
        background-color: v.$kasa_color;
        &_icon {
          &.show {
            transform: rotate(180deg);
          }
        }
      }
    }
    &__bloc-modal {
      background-color: v.$kasa_bgColor_modal;
      border: none;
      width: 100%;
      padding: 2rem;
      border-radius: 0 0 5px 5px;
      display: none;
      &.active {
        display: block;
      }
      &_p {
        color: v.$kasa_color;
      }
    }
  }
}
