@use "../../styles/vars" as v;

.identity {
    width: 100%;
    margin: 2rem 0;
    &__bloc-name {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &__name {
            display: inline-block;
            color: v.$kasa_color;
            flex-wrap: wrap;
            width: 93px;
            height: 52px;
            text-align: end;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 18px;
        }
        &__bloc-photo {
            width: 4rem;
            height: 4rem;
            margin-left: 1rem;
            &__photo {
                border-radius: 50%;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    &__bloc-star {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
        &__star {
            color: #e3e3e3;
            margin-left: 0.5rem;
            &.active {
                color: v.$kasa_color;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .identity {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin: 1rem 0;
        align-items: center;
        height: 100%;

        &__bloc-star {
            justify-content: flex-start;
            align-items: center;
            margin: 0;
        }
    }
}
@media screen and (max-width: 390px) {
    .identity {
        margin: 0 0 1rem 0;
        &__bloc-name {
            &__name {
                width: 50px;
                height: 33px;
                font-size: 12px;
                text-align: right;
            }
            &__bloc-photo {
                width: 2rem;
                height: 2rem;
            }
        }
        &__bloc-star {
            width: 98px;
            height: 18px;
            &__star {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}
