.app {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__bloc {
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;
    }
}
