@use "../../styles/vars" as v;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13rem;
    margin: 1rem 0;
    &__bloc {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        &__bloc-img {
            width: 100%;
            height: 100%;
            background: darken($color: #000000, $amount: 100);
            border-radius: 25px;
            height: 13rem;
            &__img {
                overflow: hidden;
                opacity: 0.9;
                border-radius: 25px;
                width: 100%;
                object-fit: cover;
                height: 13rem;
            }
        }
        &__title-bloc {
            color: v.$kasa_color_footer;
            font-size: 3rem;
            position: absolute;
            top: 50%;
            left: auto;
            transform: translate(-0%, -50%);
        }
    }
    // container des cartes
    &__card-container {
        background-color: v.$kasa_bgColor_modal;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 25px;
        padding: 3rem 2rem;
        gap: 2rem;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    .home {
        &__bloc {
            border-radius: 18px;
            &-img {
                border-radius: 18px;
            }
            &-title {
                font-size: 2rem;
                width: 100%;
                left: 50%;
                transform: translate(-30%, -50%);
            }
        }
    }
}
@media screen and (max-width: 730px) {
    .home {
        &__bloc {
            &-title {
                font-size: 2rem;
                width: 100%;
                left: 39%;
                transform: translate(-38%, -50%);
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .home {
        &__bloc {
            width: 335px;
            &-img {
                height: 111px;
                border-radius: 10px;
            }
            &-title {
                font-size: 24px;
                font-weight: 500;
                line-height: 100%;
                width: 65%;
                left: 30%;
                top: 60%;
            }
        }
        &__card-container {
            margin: 2rem auto;
        }
    }
}
