@use "../../styles/vars" as v;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1240px;

    &__h1 {
        display: inline-block;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 350px;
    }
    &__nav__link {
        color: v.$kasa_color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:nth-child(2) {
            margin-left: 2rem;
        }
    }
}
@media screen and (max-width: 500px) {
    .header {
        gap: 3rem;
        &__nav {
            &__link {
                font-size: 18px;
                &:nth-child(2) {
                    margin-left: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .header {
        gap: 1rem;
        &__nav {
            &__link {
                font-size: 12px;
            }
        }
    }
}
